* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: dashed;
}

.container {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-add {
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    background: #1e3ac5;
    color: #fff;
    margin: 20px 0;
}

.btn-show {
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    margin: 20px 0;
    background: #08e765;
    color: #fff;
}

.activity-container 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 60px;
    margin: 30px 0;
    background: #dad8d0;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

.btn-complete {
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    margin: 20px 0;
    background: green;
    color: #fff;
    margin-right: 5px;
}

.btn-delete {
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    margin: 20px 0;
    background: red;
    color: #fff;
}